---
layout: default
---

<div class="container">
  <h1>AtomVM Firmware</h1>

  <p class="lead">AtomVM firmware images for the ESP32 family of devices.</p>

  <section class="latest-release">
    <h2>Latest main branch builds:</h2>
    These might be unstable. Use at your own risk. <br />
    <esp-web-install-button
      manifest="{{ site.baseurl }}/assets/branch_ci_binaries/main/latest_main-elixir.json"
    >
      <button
        slot="activate"
        style="padding: 8px 28px; font-size: 16px; font-weight: 700"
      >
        Install Erlang & Elixir AtomVM from MAIN
      </button>
      <i slot="unsupported"
        >The Web Flasher is not available because your browser does not support
        Web Serial.<br />Use Google Chrome or Microsoft Edge instead</i
      >
    </esp-web-install-button>
    <esp-web-install-button
      manifest="{{ site.baseurl }}/assets/branch_ci_binaries/main/latest_main.json"
    >
      <button
        slot="activate"
        style="padding: 8px 28px; font-size: 16px; font-weight: 700"
      >
        Install Erlang AtomVM from MAIN
      </button>
      <i slot="unsupported"></i>
    </esp-web-install-button>
  </section>

  <section class="latest-release">
    <h2>Latest release-0.6 branch builds:</h2>
    These might be unstable. Use at your own risk. <br />
    <esp-web-install-button
      manifest="{{ site.baseurl }}/assets/branch_ci_binaries/release-0.6/latest_release-0.6-elixir.json"
    >
      <button
        slot="activate"
        style="padding: 8px 28px; font-size: 16px; font-weight: 700"
      >
        Install Erlang & Elixir AtomVM from release-0.6
      </button>
      <i slot="unsupported"
        >The Web Flasher is not available because your browser does not support
        Web Serial.<br />Use Google Chrome or Microsoft Edge instead</i
      >
    </esp-web-install-button>
    <esp-web-install-button
      manifest="{{ site.baseurl }}/assets/branch_ci_binaries/release-0.6/latest_release-0.6.json"
    >
      <button
        slot="activate"
        style="padding: 8px 28px; font-size: 16px; font-weight: 700"
      >
        Install Erlang AtomVM from release-0.6
      </button>
      <i slot="unsupported"></i>
    </esp-web-install-button>
  </section>

  <section class="latest-release">
    <h2>Latest Release</h2>
    {% for version in site.data.versions.versions %} {% assign release_json =
    version.version | prepend: 'assets/release_binaries/' | append:
    '/esp32_release.json' %} {% assign elixir_json = version.version | prepend:
    'assets/release_binaries/' | append: '/esp32_release-elixir.json' %}
    <h3>
      <a href="{{ version.html_url }}">{{ version.version }}</a>
      <em>{{ version.published_at | date: "%Y-%m-%d" }}</em>
    </h3>
    {% assign install_item = version %} {% assign has_elixir =
    version.has_elixir %} {% include install_esp32_buttons.html %} {% include
    install_pico_buttons.html %}
  </section>
  {% endfor %}
</div>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
<script
  type="module"
  src="{{ site.baseurl }}/assets/install_button_modules/install-button.js?module"
></script>
<script>
  if (/iPad|iPhone|iPod/.test(navigator.userAgent)) {
    document.querySelector(".not-supported-i").classList.remove("hidden");
  }
</script>

{% include pico_popup.html %}
<script src="{{ site.baseurl }}/assets/js/pico_popup.js"></script>
