<div class="card" style="width: 100%">
    <div class="release-header">
      <h3>
        Rpi Pico
      </h3>
      <small
        >Pico, Pico W</small
      >
    <div class="release-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    </div>
    <div class="install-section">
        <div class="popup-container">
            <button class="popupButton" id="picoButton" data-uf2-link="https://github.com/atomvm/AtomVM/releases/download/v0.6.5/AtomVM-pico-v0.6.5.uf2" style="padding: 8px 28px; font-size: 16px; font-weight: 700">Flash Rpi Pico</button>
            <button class="popupButton" id="picoWButton" data-uf2-link="https://github.com/atomvm/AtomVM/releases/download/v0.6.5/AtomVM-pico_w-v0.6.5.uf2" style="padding: 8px 28px; font-size: 16px; font-weight: 700">Flash Rpi Pico W</button>
        </div>
    </div>
    </div>
  </div>