<div class="popup-container">
  <button
    class="popupButton download-uf2-button"
    data-board-type="Pico"
    data-uf2-link="{{ site.baseurl }}/assets/release_binaries/{{ install_item.version }}/combined_AtomVM-pico-{{ install_item.version }}.uf2"
    style="padding: 8px 28px; font-size: 16px; font-weight: 700"
  >
    Flash Rpi Pico
  </button>
  <button
    class="popupButton download-uf2-button"
    data-board-type="Pico W"
    data-uf2-link="{{ site.baseurl }}/assets/release_binaries/{{ install_item.version }}/combined_AtomVM-pico_w-{{ install_item.version }}.uf2"
    style="padding: 8px 28px; font-size: 16px; font-weight: 700"
  >
    Flash Rpi Pico W
  </button>
</div>
