.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.release {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.release-header {
    text-align: left;
}

.release-header h3 {
    margin: 0;
}

.release-header small {
    display: block;
    color: #666;
}
