name: Update Releases

on:
  schedule:
    - cron: "0 */6 * * *" # Run every 6 hours
  workflow_dispatch: # Allow manual trigger
  push:
    branches: [main]

jobs:
  update-releases:
    name: Update AtomVM Installer
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          elixir-version: "1.18.2"

      - name: Fetch latest branches & release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: elixir scripts/fetch-artifacts.exs atomvm atomvm main,release-0.6 "esp32-mkimage"

      - name: Commit and push changes
        run: |
          git config --global user.name 'Installer updater'
          git config --global user.email 'action@github.com'
          git add assets/release_binaries
          git add assets/branch_ci_binaries
          git add _data/versions.yml
          git add _data/branches.yml
          git commit -m "Update releases and assets" || exit 0
          git push
